@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(45deg , rgb(135, 0, 0), rgb(0, 0, 78));
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-repeat: initial;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    margin: 10px;
    width: 580px;
    padding: 10px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

h2{
    text-align: center;
    margin-bottom: 10px;
}
h3{
    margin-top: 10px;
    text-align: center;
}

html {
    scroll-behavior: smooth;
  }

label{
    display: block;
    font-size: 14px;
    margin-bottom: 3px;
}

input{
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 6px;
    border: 1px solid red;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: right;
}

input:focus{
    border: 1px solid blue;
    outline: 3px solid rgba(54, 54, 255, 0.696);
}

button{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    background-color: rgb(0, 128, 0);
    color: white;
    font-weight: 500;
    cursor: pointer;
}
button:hover{
    background-color: rgb(1, 104, 1);
}

.row{
    position: relative;
}

.credit{
    position: absolute;
    left: 4px;
    bottom: 5px;
    background-color: rgba(7, 0, 102, 0.796);
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    font-size: 14px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

td,th{
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    font-size: 14px;
}

@media screen and (max-width: 600px){
    .container{
        width: calc(100vw - 20px);
    }
    .result-table{
        overflow-x: scroll;
    }
}

/* Hide the Print button when printing */
@media print {
    #print {
        display: none !important;
    }

    table{
        border-collapse: separate;
        border: 1px solid rgba(0, 0, 0, 0.321);
    }

    th, td {
        border: 1px solid rgba(0, 0, 0, 0.321);
    }
}